/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/db
logfile
/resources/public/out/*
/resources/public/booking.min.js
/resources/public/booking.js
.DS_Store
figwheel_server.log