<_within file="application.html">
  <div id="content" class="container">

  <div class="scene"> <!-- просто для краси -->
    <div class="scene_start"></div>
    <div class="scene_end"></div>
        Сцена. Що тут не ясно?</div>

  <div template="hello" field="id:id">
    <div field="content:message" class="message">A Message</div>
  </div>


  <div id="seats">
    <!-- seats will go here -->
  </div>

<!-- щоб елементи не вилазили запхаємо хедер взад -->
  <header id="header">
      <!-- лого лобстером! ахахахахахахах -->
    <div id="logo"></div>
      
    <div id="booking_pane">
      <div id="booking_status"></div>
      <button id="pre_book"></button>

      <!-- obsolete 
      <div id="booking_form">
          Ім'я:&nbsp;<input type="text" id="contact_name"/>
          Телефон:&nbsp;<input type="text" id="phone" />
          <button id="book">Піу-піу!</button>   
      </div> -->    
    </div>

    <div id="legend"></div>
    <div id="prices"></div>

  </header>

  <footer> Зроблено ndrw&nbsp;(<a id="copyleft_url" href="http://sernyak.com">тиць!</a>).&nbsp;2013</footer>

  <div id="options">
    options
  </div>

</div>

</_within>
