@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic);

body {
	margin: 0;

	font-family: Helvetica;
	font-weight: 300;

	line-height: 150%;

	font-size: .9rem;
}


.svg-wrapper {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
}

.fill-w {
  width: 100%;
  min-width: 100%;
}


#logo-wrapper {
	background-color: rgba(128, 128, 128, 0.05);
}

/* default */

#logo {
	  transform: scale(0.33,0.30);
	  -webkit-transform: scale(0.33,0.30);

  	  margin-top: -30vw;
}

#logo-text {

	position: relative;
	text-align: center;
	/*width: 75%;*/

	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: teal;

	webkit-font-smoothing: antialiased !important;
	font-size: 4vw;
    margin-top: -40vw;

    line-height: 150%;

    text-transform: uppercase;
    margin-bottom: 5vw;
}



p {
	line-height: 150%;
	font-size: 1.5rem;

	width: 75vw;
	margin: 0 auto;

	padding-top: 1rem;


-ms-word-break: keep-all;
     word-break: keep-all;

     // Non standard for webkit
     word-break: keep-word;

-webkit-hyphens: manual;
   -moz-hyphens: manual;
        hyphens: manual;
}

.wrapper {
	padding-top: 2rem;

}


.sponsors-block {
	background-color: rgba(128, 128, 128, 0.05);

}

.sponsors {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  width: 75%;
  margin: 0 auto;
}

.sponsors-block * {
	vertical-align: top;

} 

.sponsors-block h1 {
	font-size: 1rem;
	padding: 1rem;
	margin-left: 1rem;
}


.sponsors-block a {
	text-decoration: none;
}

.sponsors-block a img.square {
	height: 90px;
	width: auto;
	margin: 1rem 1rem 2rem 2rem;
}

.sponsors-block a img.wide {
	height: auto;
	width: 180px;
	margin: 1rem;
	vertical-align: top;
}



h1 {
	font-family: "Roboto";
}

.misses h1 {
	text-align: center;
	padding: 1rem;
}



.misses div {
	width: 27%;
	max-width: 27%;
	height: 45vw;

	/*height: auto; */
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;

	color: white;
	font-size: 1rem;
	margin: 0;

	padding: 1%;

	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);

	-webkit-transition: background-image .75s ease-in-out;
	transition: background-image .75s ease-in-out;

	margin-right: 1%;
	margin-bottom: 1%;

}

/*.misses div:hover {
	-webkit-transition: background-image .25s ease-in-out;
	transition: background-image .25s ease-in-out;

	background-size: cover;
}*/

.misses {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}




._1,._4,._7,._10 { margin-left: 4% !important; }


._1 {  background:url(/img/1_.jpg);}
._2 {  background:url(/img/2_.jpg);}
._3 {  background:url(/img/3_.jpg);}
._4 {  background:url(/img/4_.jpg);}
._5 {  background:url(/img/5_.jpg);}
._6 {  background:url(/img/6_.jpg);}
._7 {  background:url(/img/7_.jpg);}
._8 {  background:url(/img/8_.jpg);}
._9 {  background:url(/img/9_.jpg);}
._10 { background:url(/img/10_.jpg);}
._11 { background:url(/img/11_.jpg);}
._12 { background:url(/img/12_.jpg);}


/* ._3:hover { 
	background:url(3.png);
}
._5:hover { 
	background:url(5.jpg);
}

._8:hover { 
	background:url(8.png);
	background-repeat: no-repeat;
	background-position: 20% 25%;
	background-size: auto 100%;
}
._11:hover { background:url(11.png);}
*/

.social {
	position: absolute;
	top: 1%;
	right: 1%;
}

.social img {
   -webkit-filter:invert(100%);
     filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.social img:hover {
   -webkit-filter:none;
     filter:progid:none;

     opacity: 0.5;
}

button {
	padding: 1rem;
}


/* booking */

#app {
	margin: 1rem;
	background-color: rgba(128,128,128,0.1);
}

#rum-app {
	margin: 1rem;
	background-color: rgba(255,128,128,0.1);
}

.seat-plan {
	outline: 1px solid red;
	margin: 1rem;
}



/* ПАРТЕР */

#parter {
  width: 1168px;
  position: relative;
  height: 520px;
  margin: 10px;
  font-size: 9px;

  outline: 1px solid blue;
}

#parter #rows.left {
	float: left; margin-left: -15px;

	outline: 1px solid red;
}

#parter #rows.right {
	float: right; margin-right: -40px;

	outline: 1px solid red;

}


/* бокові ложі */

.side_house {
  position: absolute;
  height: 300px;
  width: 85px;
  top: 0px;
}

#left_side_house {
  left: 20px; /*  background-color: #DDF; */
}

#right_side_house {
    right: 20px; /* background-color: #DFF; */
}

/* початок партеру */

.house {
  position: absolute;
  height: 355px;
}

#left_house {
  left: 130px;
  width: 480px; /* background-color: #FDF; */ 
}

#right_house {
  right: 115px;
  width: 450px; /* background-color: #DFD; */
}

/* БЕЛЬЄТАЖ) */

#back_house {
  font-size: 9px;
  display: inline-block;
  margin-left: 158px;
  width: 880px;
  height: 390px; /*background-color: #FFD; */
}

#beletage {
  margin-left: 15px;    
  height: 260px; /*background-color: #FFD; */
}

#beletage_last_row {
  margin-left: 84px;
  margin-top: 40px;
  /*background-color: #FFD; */
}


