@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300&subset=latin,cyrillic);

body {
	margin: 0;

	font-family: Helvetica;
	font-weight: 300;

	line-height: 150%;

	font-size: .9rem;
}


.svg-wrapper {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
}

.fill-w {
  width: 100%;
  min-width: 100%;
}


#logo-wrapper {
	background-color: rgba(128, 128, 128, 0.05);
}

/* default */

#logo {
	  transform: scale(0.33,0.30);
	  -webkit-transform: scale(0.33,0.30);

  	  margin-top: -30vw;
}

#logo-text {

	position: relative;
	text-align: center;
	/*width: 75%;*/

	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: teal;

	webkit-font-smoothing: antialiased !important;
	font-size: 4vw;
    margin-top: -40vw;

    line-height: 150%;

    text-transform: uppercase;
    margin-bottom: 5vw;
}



p {
	line-height: 150%;
	font-size: 1.5rem;

	width: 75vw;
	margin: 0 auto;

	padding-top: 1rem;


-ms-word-break: keep-all;
     word-break: keep-all;

     // Non standard for webkit
     word-break: keep-word;

-webkit-hyphens: manual;
   -moz-hyphens: manual;
        hyphens: manual;
}

.wrapper {
	padding-top: 2rem;

}


.sponsors-block {
	background-color: rgba(128, 128, 128, 0.05);

}

.sponsors {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  width: 75%;
  margin: 0 auto;
}

.sponsors-block * {
	vertical-align: top;

} 

.sponsors-block h1 {
	font-size: 1rem;
	padding: 1rem;
	margin-left: 1rem;
}


.sponsors-block a {
	text-decoration: none;
}

.sponsors-block a img.square {
	height: 90px;
	width: auto;
	margin: 1rem 1rem 2rem 2rem;
}

.sponsors-block a img.wide {
	height: auto;
	width: 180px;
	margin: 1rem;
	vertical-align: top;
}



h1 {
	font-family: "Roboto";
}

.misses h1 {
	text-align: center;
	padding: 1rem;
}



.misses div {
	width: 27%;
	max-width: 27%;
	height: 45vw;

	/*height: auto; */
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;

	color: white;
	font-size: 1rem;
	margin: 0;

	padding: 1%;

	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);

	-webkit-transition: background-image .75s ease-in-out;
	transition: background-image .75s ease-in-out;

	margin-right: 1%;
	margin-bottom: 1%;

}

/*.misses div:hover {
	-webkit-transition: background-image .25s ease-in-out;
	transition: background-image .25s ease-in-out;

	background-size: cover;
}*/

.misses {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}




._1,._4,._7,._10 { margin-left: 4% !important; }


._1 {  background:url(/img/1_.jpg);}
._2 {  background:url(/img/2_.jpg);}
._3 {  background:url(/img/3_.jpg);}
._4 {  background:url(/img/4_.jpg);}
._5 {  background:url(/img/5_.jpg);}
._6 {  background:url(/img/6_.jpg);}
._7 {  background:url(/img/7_.jpg);}
._8 {  background:url(/img/8_.jpg);}
._9 {  background:url(/img/9_.jpg);}
._10 { background:url(/img/10_.jpg);}
._11 { background:url(/img/11_.jpg);}
._12 { background:url(/img/12_.jpg);}


/* ._3:hover { 
	background:url(3.png);
}
._5:hover { 
	background:url(5.jpg);
}

._8:hover { 
	background:url(8.png);
	background-repeat: no-repeat;
	background-position: 20% 25%;
	background-size: auto 100%;
}
._11:hover { background:url(11.png);}
*/

.social {
	position: absolute;
	top: 1%;
	right: 1%;
}

.social img {
   -webkit-filter:invert(100%);
     filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

.social img:hover {
   -webkit-filter:none;
     filter:progid:none;

     opacity: 0.5;
}



/******** ********/



button {
	padding: 1rem;
}

.seat-plan {
	line-height: 1.0;
}


.seat {
  color: transparent;
  display: inline-block;
  
  height: 34px;
  width: 25px;

  margin-left: 2px;
/*  margin-top: 1px;
  margin-bottom: 1px; */
  background-color: gray;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pending {
  background-color: red;

}

.seat:hover {
  cursor: pointer;
  /*cursor:crosshair;*/
}

#scheme {
	margin-left: 40px;
  	margin-top: 70px;
}


#parter {
  position: relative;

  height: 580px;
  width: 1168px;
  margin: 10px; 

  font-size: 9px;

/*  outline: 1px solid blue;
  background-color: rgba(128,129,128,0.1);
*/}



#rows.left {
	float: left; 
}

#rows.right {
	float: right; 
}

#parter #rows.left {
	margin-left: -15px; 
}

#parter #rows.right {
	margin-right: -15px; 
}

/*#rows.left, #parter #rows.right {
	background-color: rgba(255, 128, 0, 0.1);
} 
*/

.side_house {
  position: absolute;
  height: 300px;
  width: 85px;
  top: 0px;

/*  background-color: rgba(255, 255, 0, 0.1);
*/
}

#left_side_house {
  left: 20px;
}

#right_side_house {
    right: 20px; 
}

.house {
  position: absolute;
  height: 355px;

/*  background-color: rgba(0, 255, 0, 0.1);
*/
}

#left_house {
  left: 130px;
  width: 480px;
}

#right_house {
  right: 115px;
  width: 450px;
}


#back_house {
  font-size: 9px;
  display: inline-block;
  
  margin-left: 158px;
  width: 880px;
  height: 390px; 
/*  background-color: #FFD; 
*/}


#back_house #rows.left {
	margin-left: -25px; 
}

#back_house #rows.right {
	margin-right: -25px; 
}

#beletage {
  margin-left: 15px;    
  height: 260px; 


/*  background-color: #DFD; */
}

#beletage_last_row {
  margin-left: 84px;
  margin-top: 40px;
  /*background-color: #FFD; */
}



.rows {
}

.row_num { 
  margin-top: 0px; margin-bottom: 2px;
  width: 25px; height: 34px;
  
/*  background-color: rgba(128,129,0,0.1);*/
}

.row_num div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 25px;
  height: 34px;
  font-size: 10px;
  font-weight: 700;
  font: bold 14px Arial, sans-serif;
}


.col_num {
  display: inline-block;

  margin-left: 2px; margin-top: 1px;
  height: 20px;
} 

.col_num div {
  display: table-cell;
  text-align: center;
  width: 25px;
  height: 34px;
  font-size: 10px;
  font-weight: 700;
  font-size: 10px;
  font-family: Arial;
}



/* booking */

/*#app {
	margin: 1rem;
	background-color: rgba(128,128,128,0.1);
}

#rum-app {
	margin: 1rem;
	background-color: rgba(255,128,128,0.1);
}*/



/* 
.seat-plan {
	outline: 1px solid red;
	margin: 1rem;
}







#back_house {
  font-size: 9px;
  display: inline-block;
  margin-left: 158px;
  width: 880px;
  height: 390px;
}

#beletage {
  margin-left: 15px;    
  height: 260px;
}

#beletage_last_row {
  margin-left: 84px;
  margin-top: 40px;
}




.rows {}
.row_num { 
  margin-top: 0px; margin-bottom: 2px;
  width: 25px; height: 34px;
}

.row_num div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 25px;
  height: 34px;
  font-size: 10px;
  font-weight: 700;
  font: bold 14px Arial, sans-serif;
}

*/
